body, html {
	margin: 0;
	padding: 0
}


/* fonts */
body, input {
	font-size: 12px;
}


/* formating */
div.test {
	text-align: center;
	margin-bottom: 10px;
}

div.right {
	float: right;
}

div.filter {
	margin-bottom: 10px;
	padding: 0 5px 5px 5px;
	border: 1px solid grey;
}

div.tags {
	width: 20%;
	padding: inherit;
	border-left: 1px solid grey;
}

div.notebooks {
	width: 20%;
}

div.search {
	width: 58%;
	margin-bottom: 10px;
}

div.searchInput {
	width: 300px;
}

div.searchInputRight {
	width: 18px;
	height: 21px;
	background: url('../im/d/search_right.png');
}

div.searchInputLeft {
	width: 27px;
	height: 21px;
	background: url('../im/d/search_left.png');
}

div.searchInputMiddle > input {
	border: 0;
	height: 21px;
	background: url('../im/d/search_middle.png') repeat-x;
	width: 255px;
}

#notes > span, #tags > span, #notebooks > span {
	cursor: pointer;
}

/* Notify widget */
div.notifyContainer {
	min-width: 10%;
	max-width: 15%;
}
body > div.notifyContainer {
	position: absolute;
	bottom: 0px;
	right: 10px;
}
div.notify {
	min-height: 1em;
	padding: 5px;
	margin-bottom: 5px;
}
#debug {
	border: 1px dashed red;
	padding: 5px;
}
/* END */

/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/
.ui-corner-all {
	-moz-border-radius:4px 4px 4px 4px;
}
.ui-state-highlight {
	background:#FBF9EE;
	border:1px solid #FCEFA1;
	color:#363636;
}