body, html {
	margin: 0;
	padding: 0;
}


/* fonts */
body, input {
	font-size: 12px;
}


/* formating */
iframe.auth {
	width: 400px;
	height: 210px;
	float: right;
	border: 1px solid gray;
	overflow: hidden;
}

button {
	background-color: white;
	border: 1px solid gray;
}

.right {
	float: right;
}

#filterHolder {
	overflow: auto;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #999999;
}

div.tags {
	width: 20%;
}

div.notebooks {
	width: 20%;
}

div.search {
	width: 58%;
}

div.searchInput {
	width: 320px;
}

div.inProgress {
	width: 20px;
	height: 21px;
	padding: 2px 0 0 4px;
}

div.searchInputRight {
	width: 18px;
	height: 21px;
	background: url('../im/d/search_right.png');
}

div.searchInputLeft {
	width: 27px;
	height: 21px;
	background: url('../im/d/search_left.png');
}

div.searchInputMiddle > input {
	border: 0;
	height: 21px;
	background: url('../im/d/search_middle.png') repeat-x;
	width: 255px;
}

#notes > span, #tags > span, #notebooks > span {
	cursor: pointer;
}


/* TABS */
ul.tabs {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	height: 26px;
}

ul.tabs li {
	float: left;
	text-indent: 0;
	padding: 0;
	margin: 0 1px 0 0;
	list-style-image: none !important;
}

/* link inside the tab. */
ul.tabs a {
	background-color: white;
	border: 1px solid gray;
	border-bottom: 0;
	-moz-border-radius: 4px 4px 0 0;
	display: block;
	height: 24px;
	line-height: 24px;
	width: 174px;
	text-align: center;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	cursor: pointer;
}

/* when mouse enters the tab */
ul.tabs a:hover {
	background-color: #E0E0E0;
}

/* active tab uses a class name "current". */
ul.tabs a.current, ul.tabs a.current:hover {
	background-color: #D0D0D0;
	cursor: default;
	color: #000;
}


/* Notify widget */
div.notifyContainer {
	min-width: 10%;
	max-width: 15%;
}
body > div.notifyContainer {
	position: absolute;
	bottom: 0px;
	right: 10px;
}
div.notify {
	min-height: 1em;
	padding: 5px;
	margin-bottom: 5px;
}
#debug {
	border: 1px dashed red;
	padding: 5px;
}
/* END */

/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
.ui-corner-all {
	-moz-border-radius:4px 4px 4px 4px;
}
.ui-state-highlight {
	background:#FBF9EE;
	border:1px solid #FCEFA1;
	color:#363636;
}
.ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec;
	color: #cd0a0a;
}